<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>SEO Basics</title>

    <!-- CSS  -->
    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet" >
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="/" id="logo-container" class="brand-logo">SiaN</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">Discussion</a></li>
                    <li><a href="#work">Posts</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <li><a href="https://github.com/ivillaabrille/villaabrilleseo" target="_blank">View my Code</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">Discussion</a></li>
                    <li><a href="#work">Posts</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <li><a href="https://github.com/ivillaabrille/villaabrilleseo" target="_blank">View my Code</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner" style="background-image: url(img/2.jpg);">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">SEO</b>
                <b>Basics</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><p>The difference between SEO and SEM is simply that Search Engine Optimization is part of Search engine marketing or Search marketing as it is widely known. Both processes aim in increasing visibility in search engines.</p><br>

                            <p>SEO Strategies</p>
<p> 1. Domain Name Strategy: Using domain name services sets your business up for success where it all begins, your websites name. -A domain name strategy can add incredible value to the appearance of your website by taking advantage of the most visible component, the address. -You also need to establish and safeguard your domains so you have a secure presence online. <br>
   2. Linking Strategy: Links are an incredibly important factor to improve search performance, and they seem to be making a resurgence this year. If you have never executed a link building strategy its important to know all the facts, because link building is inherently risky, and only the highest quality of tactics are recommended. These resources will help beginners understand a bit more; it pays to read them before executing any campaign.<br>
   3. Title Tag Strategy: Title tags are pretty much exactly what they sound like the title of the page. As a title, this tag should be used to describe what a user can expect to find on a particular page.When writing title tags with SEO in mind, your first goal should be to accurately describe the content of the page in question whether its a product, collection or informational page. Its also vital to find ways to naturally weave in relevant keywords into the tag whenever possible.<br>
   4. Meta Description Tags Strategy: A meta description is a type of meta tag used in HTML to describe what the web page is about. It appears as a quick snippet on the SERPs right beneath the link. Meta descriptions are not a ranking factor per se, as they have a very minimal impact on rankings, though they may have some impacts with personalized search results. Their main function is telling searchers what your web page is about. Having compelling meta descriptions aids in the click-through rate to your site. Think of your meta descriptions as a sales pitch for searchers, not as ranking factors for crawlers.<br>
  5. Alt Tags Strategy: The Alt tag is an older HTML coding strategy originally envisioned to compensate for users and browsers not equipped to handle images. And while all of todays web browsing includes many types of graphics, the alt tag remains an important part of making a site accessible to all users. The alt tag is a descriptive line of HTML code that describes an image on a web page so that the user knows what the image represents if the picture doesnt display correctly.<br> 
  6. Search Engine Indexing Strategy: The indexing mechanism is latent semantic indexing. In latent semantic indexing search engines, determine the relationship between different entities or part of a blog content. By understanding this relationship between different entities, search engines understand the context meaning of the blog content easily. Once the content is understood properly by search engines, it is easy for them to return accurate results for long tail keywords.</p><br>

<p>I would consolidate Title Tag and Meta Description Tags Strategy in light of the fact that is Catchphrase investigate is the initial step to an effective Search engine optimization methodology. Those effective with Website design enhancement comprehend what individuals are hunting down while finding their business in a web search tool and Meta labels still assume an imperative part in Web optimization. In the event that you write any catchphrase into a web crawler, you will perceive how that watchword is reflected in the title for that page.</p> 
                    </div>
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container"> 
        <h2 class="header text_b">Current Posts</h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">What is SEO<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="wiseo">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">What is SEO <i class="mdi-navigation-close right"></i></span>
                        <p>Covers the meaning of SEO, guidelines on how to read a Search Engine Result page, how it affects businesses, and some important expectations for SEO.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/2.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SEO Basics<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="sbasics">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SEO Basics <i class="mdi-navigation-close right"></i></span>
                        <p>Covers the difference of SEO and SEM, SEO Strategies and My personally strategy.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/3.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SEO Techniques<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="stechniques">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SEO Techniques <i class="mdi-navigation-close right"></i></span>
                        <p>Covers on and off page SEO.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="img/parallax1.png"></div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" action="contact.php" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="white-text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="white-text">Email-id</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">villaabrilleseo</h5>
                <ul>
                    <li><a class="white-text" href="#">Back to Top</a></li>
                    <li><a class="white-text" href="#intro">Discussion</a></li>
                    <li><a class="white-text" href="#work">Posts</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.twitter.com/AyeSahYah">
                            <i class="small fa fa-twitter-square white-text"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/AyeSahYah">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/ivillaabrille">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="http://www.facebook.com/AyeSahYah">Isaiah Evans Villa Abrille</a>. Using <a class="white-text" href="http://materializecss.com/">materializecss</a>
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script>

    </body>
</html>
