<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>SEO Techniques</title>

    <!-- CSS  -->
    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet" >
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="/" id="logo-container" class="brand-logo">SiaN</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">Discussion</a></li>
                    <li><a href="#work">Posts</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <li><a href="https://github.com/ivillaabrille/villaabrilleseo" target="_blank">View my Code</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">Discussion</a></li>
                    <li><a href="#work">Posts</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <li><a href="https://github.com/ivillaabrille/villaabrilleseo" target="_blank">View my Code</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner" style="background-image: url(img/3.jpg);">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">SEO</b>
                <b>Techniques</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><p>On-Page SEO is the SEO on your actual page or blog. One of the most popular ways that search engines worldwide tend to rank websites is by looking for the prominence and frequency of certain keywords and phrases on various facets of your site, and assigning an appropriate degree of weight accordingly while Off-Page SEO is the use of keywords off your site. Search engines use mentions of your site, business name, and keywords used on other places across the web in order to determine your ranking in their results.</p><br>

                            <p>Off-Page SEO Techniques</p>
<p> 1. Social Networking Sites: Social Networking is bigger than ever these days! Sometimes known as “Online Reputation Management”, getting involved with social media sites is the fundamental step with which you begin to advertise, market and build your online reputation within your niche. You need to sign up to the most popular social networking sites, such as; Facebook, LinkedIn, Twitter, Google+, etc., and create yourself a profile of your own. This allows you to extend your online network of contacts, to connect and interact with your friends, to share things with each other, and most importantly promote your website/blog and help build your online reputation.<br>
   2. Blogging: Blogging is one of the best ways to promote your website online! By writing a blog for your website, you give a reason for visitors to keep returning to your site and keep up to date with your latest posts. It also helps search engines to crawl your site more frequently, as they have to update your latest blog post entries, which ultimately helps you rank higher in search engine results pages (SERPs).<br>
   3. Blog Marketing: Post comments on other blogs within the same niche as yours, which allow you to add a link in the comments section. These links can then be crawled by search engines, helping to point them towards your site. These blogs are commonly referred to as “Do-Follow” Blogs.<br>
   4. Forum Marketing: PFind forums online that are related to your sites niche and get involved within that community. Reply to threads, answer peoples questions, offer advice, etc. This all helps to build up your reputation as someone who is an expert within that niche. Try to use “Do-Follow” Forums so that you can include a link to your site within your signature, which helps search engines crawl your site.
<br>
   5. Search Engine Submission: Search engines will eventually find your site online, but that can take a while. To speed everything up, you should submit your website to the most popular search engines like Google, Yahoo, Bing, etc.<br>
  6. Directory Submission: Many people may say that directory submission is dead! I believe that it isn’t as you are increasing the likely hood of people seeing your website. It is purely based on how effectively we are selecting those directories and how efficiently we are choosing the category for submission. You could submit to general directories, but for maximum effect, you are better off submitting to niche directories. Of course, I agree that it gives quite delayed results, but it is worth doing it.</p><br>

                              <p>On-Page SEO Techniques</p>
<p> 1. Post Permalink Structure: Making sure your URL is displayed correctly is an important on-page metric. Again, you should use your target keyword in the URL, and avoid using special characters, symbols, brackets, commas, etc. within the actual URL. Use dashes to differentiate the strings in your URL structure. These are called “pretty” permalinks and are supported by most web browsers.<br>
   2. Heading Tags: You should use heading tags to highlight various headings, sub-headings, and important points. In WordPress, the title tag is set at H1. You don’t really need to use any more H1 tags anywhere in the article. One is enough. For section breaks, stick to H2 and H3 tags.<br>
   3. Keyword Density: You should keep the keyword density around 1.5% percent with a mix of LSI keywords. But as Matt Cutts explains in the video below, there is no real magic formula. Use your main keyword once in the first paragraph and again in the last paragraph. And use it in the content where it makes sense.<br>
  4. Meta Tags: You should add a unique and relevant meta description with each blog post. Again, you should use your use targeted keyword in the meta description, but don’t keyword spam your description. While search engines pick up on keywords, it’s also important for users to click on the post. You need to write user-friendly meta descriptions that make sense and are related to your post.</p><br>
                    </div>
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container"> 
        <h2 class="header text_b">Current Posts</h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">What is SEO<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="wiseo">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">What is SEO <i class="mdi-navigation-close right"></i></span>
                        <p>Covers the meaning of SEO, guidelines on how to read a Search Engine Result page, how it affects businesses, and some important expectations for SEO.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/2.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SEO Basics<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="sbasics">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SEO Basics <i class="mdi-navigation-close right"></i></span>
                        <p>Covers the difference of SEO and SEM, SEO Strategies and My personally strategy.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/3.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SEO Techniques<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="stechniques">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SEO Techniques <i class="mdi-navigation-close right"></i></span>
                        <p>Covers on and off page SEO.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="img/parallax1.png"></div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" action="contact.php" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="white-text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="white-text">Email-id</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">villaabrilleseo</h5>
                <ul>
                    <li><a class="white-text" href="#">Back to Top</a></li>
                    <li><a class="white-text" href="#intro">Discussion</a></li>
                    <li><a class="white-text" href="#work">Posts</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.twitter.com/AyeSahYah">
                            <i class="small fa fa-twitter-square white-text"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/AyeSahYah">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/ivillaabrille">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="http://www.facebook.com/AyeSahYah">Isaiah Evans Villa Abrille</a>. Using <a class="white-text" href="http://materializecss.com/">materializecss</a>
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script>

    </body>
</html>
