<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>What is SEO?</title>

    <!-- CSS  -->
    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet" >
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="/" id="logo-container" class="brand-logo">SiaN</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">Discussion</a></li>
                    <li><a href="#work">Posts</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <li><a href="https://github.com/ivillaabrille/villaabrilleseo" target="_blank">View my Code</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">Discussion</a></li>
                    <li><a href="#work">Posts</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <li><a href="https://github.com/ivillaabrille/villaabrilleseo" target="_blank">View my Code</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner" style="background-image: url(img/1.png);">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">What</b>
                <b>is</b>
                <b>SEO</b>
                <b>?</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><p>SEO is short for search engine optimization. It is an approach of systems, procedures and strategies used to expand the measure of guests to a site by acquiring a high-positioning situation in the indexed lists page of a web index — including Google, Bing, Yahoo and other web indexes.</p><br>

                            <p>Guidelines on how to read a Search Engine Results Page.</p>
                               <p> 1. Quality substance is, obviously, extremely important. Work to be a specialist, expert, and reliable in your industry.<br>
   2. On the web and disconnected notoriety will affect your positioning. <br>
   3. Your site does not have to incorporate the greater part of the most recent extravagant accessories, however ought to be useful. Make it simple for clients to discover the data that they're searching for. <br>
   4. YMYL pages are seen all the more fundamentally. <br>
   5. Incorporate great supplemental substance on your site. <br>
  6. Advertisements are alright the length of they don't disturb the client encounter, or divert from the fundamental content.<br> 
  7. Ensure your site is portable friendly.<br> 
  8. Check for broken links.<br> 
  9. Anticipate or evacuate spam comments.<br> 
  10. Add new substance to your website.<br> 
  11. Refresh stale or outdated content.<br> 
  12. Gather positive client reviews.<br> 
  13. Reach data is accessible on your website.<br> 
  14. Answer normal client inquiries briefly, toward the start of your article, and utilize organized information markup on your webpages.</p><br>

  <p>In the event that you are good to go, there are some genuine and particular to having a reliable continuous Search Engine Optimization strategy. For the first run through in history of promoting, clients are putting forth up their real plan through the words that they write into pursuit engines. And like never before some time recently, you can quantify the consequence of your SEO endeavors as an advertising channel. While web search tools dont charge you for posting your site pages, arranging and actualizing SEO in your association is unquestionably not free. You'll have to invest the energy, cash, and assets to do this the privilege way.</p>
<p>The uplifting news is this can enable you to get a huge advertising reach, pull in more focused on guests, and measure the effect of your endeavors as far as an arrival on your investment. More and more substance shows up on the web each second of everyday. And your costumers require web crawlers to enable comprehend it all. truth be told, the greater the web gets, the more web indexes utilization proceeds to grow. People pursuit to discover answers to their questions.</p><br>

<p>Some expectations: Set realistic goals, Measure the right thing, Set a baseline, Pulling it together</p>
                    </div>
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container"> 
        <h2 class="header text_b">Current Posts</h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">What is SEO<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="wiseo">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">What is SEO <i class="mdi-navigation-close right"></i></span>
                        <p>Covers the meaning of SEO, guidelines on how to read a Search Engine Result page, how it affects businesses, and some important expectations for SEO.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/2.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SEO Basics<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="sbasics">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SEO Basics <i class="mdi-navigation-close right"></i></span>
                        <p>Covers the difference of SEO and SEM, SEO Strategies and My personally strategy.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/3.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SEO Techniques<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="stechniques">Read More</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SEO Techniques <i class="mdi-navigation-close right"></i></span>
                        <p>Covers on and off page SEO.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="img/parallax1.png"></div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" action="contact.php" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="white-text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="white-text">Email-id</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">villaabrilleseo</h5>
                <ul>
                    <li><a class="white-text" href="#">Back to Top</a></li>
                    <li><a class="white-text" href="#intro">Discussion</a></li>
                    <li><a class="white-text" href="#work">Posts</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.twitter.com/AyeSahYah">
                            <i class="small fa fa-twitter-square white-text"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/AyeSahYah">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/ivillaabrille">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="http://www.facebook.com/AyeSahYah">Isaiah Evans Villa Abrille</a>. Using <a class="white-text" href="http://materializecss.com/">materializecss</a>
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script>

    </body>
</html>
